<% content_for :title, "Editing g cidade" %>

<h1>Editing g cidade</h1>

<%= render "form", g_cidade: @g_cidade %>

<br>

<div>
  <%= link_to "Show this g cidade", @g_cidade %> |
  <%= link_to "Back to g cidades", g_cidades_path %>
</div>
