<% content_for :title, "Editing g cidade" %>
<h1 class="text-secondary text-center">Editar cidade</h1>
<div class="card">
  <div class="card-body p-5">
    <%= render "form", g_cidade: @g_cidade %>
    <br>
  </div>
</div>  
<div class="text-secondary text-center m-5">  
  <%= link_to "Voltar", g_cidades_path, class:"btn btn-secondary" %>
</div>
