<% content_for :title, "Editing c tipo pagamento" %>
<h1 class="text-secondary text-center">Editar tipo de pagamento</h1>
<div class="card">
  <div class="card-body p-5">
    <%= render "form", c_tipo_pagamento: @c_tipo_pagamento %>
    <br>
  </div>
</div>
<div class="text-secondary text-center m-5">
  <%= link_to "Voltar", c_tipos_pagamentos_path, class:"btn btn-secondary" %>
</div>
 