<% content_for :title, "New c tipo pagamento" %>

<h1>Novo tipo de pagamento</h1>

<%= render "form", c_tipo_pagamento: @c_tipo_pagamento %>

<br>

<div>
  <%= link_to "Voltar", c_tipos_pagamentos_path, class:"btn btn-secondary" %>
</div>
