<% content_for :title, "Editing c pedido" %>

<h1>Editing c pedido</h1>

<%= render "form", c_pedido: @c_pedido %>

<br>

<div>
  <%= link_to "Show this c pedido", @c_pedido %> |
  <%= link_to "Back to c pedidos", c_pedidos_path %>
</div>
