<div id="<%= dom_id c_pagamento %>">
  <p>
    <strong>Pagamento entrega:</strong>
    <%= c_pagamento.pagamento_entrega %>
  </p>

  <p>
    <strong>C tipo pagamento:</strong>
    <%= c_pagamento.c_tipo_pagamento_id %>
  </p>

</div>
