<% content_for :title, "Editing c pagamento" %>

<h1>Editing c pagamento</h1>

<%= render "form", c_pagamento: @c_pagamento %>

<br>

<div>
  <%= link_to "Show this c pagamento", @c_pagamento %> |
  <%= link_to "Back to c pagamentos", c_pagamentos_path %>
</div>
