<% content_for :title, "Editing c produto promocao" %>

<h1>Editing c produto promocao</h1>

<%= render "form", c_produto_promocao: @c_produto_promocao %>

<br>

<div>
  <%= link_to "Show this c produto promocao", @c_produto_promocao %> |
  <%= link_to "Back to c produto promocaos", c_produtos_promocoes_path %>
</div>
