<% content_for :title, "New c produto promocao" %>

<h1>New c produto promocao</h1>

<%= render "form", c_produto_promocao: @c_produto_promocao %>

<br>

<div>
  <%= link_to "Back to c produto promocaos", c_produtos_promocoes_path %>
</div>
