<div class="sticky-footer bg-light shadow p-1">
    <div class="container">
        <div class="copyright text-center">
            <span>Copyright &copy; WebSite by Fabricio & Kayke</span>
        </div>
    </div>
</div>