<div id="wrapper">
  <ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="bi bi-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">CulinarySuite</div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
      <%= link_to painel_adms_path, class: "nav-link" do %>
        <i class="bi bi-columns-gap"></i>
        <span>Dashboard</span>
      <% end %>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">Interface</div>
    <li class="nav-item">
      <li class="nav-item">
        <%= link_to g_enderecos_path, class: "nav-link" do %>
          <i class="bi bi-gear-fill"></i>
          <span>Endereços</span>
        <% end %>
      </li>
    </li>
    <li class="nav-item">
      <a class="nav-link">
        <i class="bi bi-wrench"></i>
        <span>Utilities</span>
      </a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">Complementos</div>
    <li class="nav-item">
      <a class="nav-link">
        <i class="bi bi-folder-fill"></i>
        <span>Pages</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="bi bi-bar-chart-line-fill"></i>
        <span>Charts</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="bi bi-table"></i>
        <span>Tables</span>
      </a>
    </li>
    <hr class="sidebar-divider d-none d-md-block">
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"><i class="bi bi-caret-left-fill text-light"></i></button>
      </div>
  </ul>
</div>