<% content_for :title, "Editing c produto" %>

<h1>Editing c produto</h1>

<%= render "form", c_produto: @c_produto %>

<br>

<div>
  <%= link_to "Show this c produto", @c_produto %> |
  <%= link_to "Back to c produtos", c_produtos_path %>
</div>
