<% content_for :title, "Editing c usuario" %>

<h1>Editing c usuario</h1>

<%= render "form", c_usuario: @c_usuario %>

<br>

<div>
  <%= link_to "Show this c usuario", @c_usuario %> |
  <%= link_to "Back to c usuarios", c_usuarios_path %>
</div>
