<p style="color: green"><%= notice %></p>

<% content_for :title, "C usuarios" %>

<h1>C usuarios</h1>

<div id="c_usuarios">
  <% @c_usuarios.each do |c_usuario| %>
    <%= render c_usuario %>
    <p>
      <%= link_to "Show this c usuario", c_usuario %>
    </p>
  <% end %>
</div>

<%= link_to "New c usuario", new_c_usuario_path %>
