<% content_for :title, "Editing c statu pedido" %>

<h1>Editing c statu pedido</h1>

<%= render "form", c_statu_pedido: @c_statu_pedido %>

<br>

<div>
  <%= link_to "Show this c statu pedido", @c_statu_pedido %> |
  <%= link_to "Back to c statu pedidos", c_status_pedidos_path %>
</div>
