<% content_for :title, "New c statu pedido" %>

<h1>New c statu pedido</h1>

<%= render "form", c_statu_pedido: @c_statu_pedido %>

<br>

<div>
  <%= link_to "Back to c statu pedidos", c_status_pedidos_path %>
</div>
