/*Sidebar */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100vh; /* Altura total da viewport */
    grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto; /* Altura dinâmica para os elementos */
    grid-template-areas: 
        "sidebar nav nav nav nav"
        "sidebar main main main main"
        "sidebar footer footer footer footer";
    overflow: hidden; /* Remove a rolagem global do grid */
}

nav{
    grid-area: nav;
}
main{
    grid-area: main;
    overflow-y: auto;
}
#sidebar{
    grid-area: sidebar;
    height: 100vh; /* Ocupa toda a altura da viewport */
}
footer{
    grid-area: footer;
}

#accordionSidebar {
    transition: all 0.3s ease;
    &.toggled {
      width: 80px; 
    }
  }
  
.sidebar .nav-link {
    display: flex;
    flex-direction: column; 
    align-items: center;
}
  
.sidebar .nav-link span {
    font-size: 0.75rem; 
    margin-top: 4px; 
}
  
#accordionSidebar.toggled .nav-link span {
    display: block; 
}
  





/* Estilo geral da barra de rolagem */
::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem vertical */
    height: 10px; /* Altura da barra de rolagem horizontal */
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor do trilho */
    border-radius: 10px; /* Bordas arredondadas */
}

/* Barra de rolagem em si */
::-webkit-scrollbar-thumb {
    background: #888; /* Cor da barra */
    border-radius: 10px; /* Bordas arredondadas */
}

/* Barra de rolagem ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor mais escura ao passar o mouse */
}

/* Trilho ao passar o mouse (opcional) */
::-webkit-scrollbar-track:hover {
    background: #e0e0e0; /* Cor mais escura do trilho ao passar o mouse */
}
