<% content_for :title, "Editing g endereco" %>

<h1>Editing g endereco</h1>

<%= render "form", g_endereco: @g_endereco %>

<br>

<div>
  <%= link_to "Show this g endereco", @g_endereco %> |
  <%= link_to "Back to g enderecos", g_enderecos_path %>
</div>
