<% content_for :title, "New g endereco" %>

<h1 class="text-center text-secondary">Endereço</h1>
<div class="card">
  <div class="card-body p-5">
    <%= render "form", g_endereco: @g_endereco %>
  </div>
</div>
<br>
<div class="text-center">
  <%= link_to "Voltar", g_enderecos_path, class: "btn btn-secondary" %>
</div>
