<header data-bs-theme="dark">
  <div class="collapse text-bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          
          <p class="text-body-secondary">
            Sabores que Inspiram, Receitas que Conectam.
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4>Contatos</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white"><i class="bi bi-instagram"></i>Instagram</a></li>
            <li><a href="#" class="text-white"><i class="bi bi-facebook"></i>Facebook</a></li>
            <li><a href="#" class="text-white"><i class="bi bi-whatsapp"></i>WhatsApp</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <h4 class="">Culinary Suite</h4>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarHeader"
        aria-controls="navbarHeader"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
