<nav class="menu-lateral">
  <div class="btn-expandir">
    <i class="bi bi-list" id="btn-exp" onclick="changeIcon(this)" ></i>
  </div>
  <ul>
    <li class="item-menu">
      <a class="item-link" href="#">
        <span class="icon"><i class="bi bi-house"></i></span>
        <span class="txt-link">Home</span>
      </a>
    </li>
    <li class="item-menu">
      <a class="item-link" href="#">
        <span class="icon"><i class="bi bi-columns-gap"></i></span>
        <span class="txt-link">Dashboard</span>
      </a>
    </li>
    <li class="item-menu">
      <a class="item-link" href="#">
        <span class="icon"><i class="bi bi-calendar-date"></i></span>
        <span class="txt-link">Agendamento</span>
      </a>
    </li>
    <li class="item-menu">
      <a class="item-link" href="#">
        <span class="icon"><i class="bi bi-gear"></i></span>
        <span class="txt-link">Configuração</span>
      </a>
    </li>
    <li class="item-menu">
      <a class="item-link" href="#">
        <span class="icon"><i class="bi bi-box-arrow-in-right"></i></span>
        <span class="txt-link">Login</span>
      </a>
    </li>
  </ul>
</nav>

