<% content_for :title, "Editing g estado" %>

<h1>Editing g estado</h1>

<%= render "form", g_estado: @g_estado %>

<br>

<div>
  <%= link_to "Show this g estado", @g_estado %> |
  <%= link_to "Back to g estados", g_estados_path %>
</div>
